services:
  backend:
    build:
      context: ./acteam-trains-backend
      dockerfile: Dockerfile
    volumes:
      - ./acteam-trains-backend:/var/www/html
    ports:
      - '8000:8000'
    networks:
      - app-network
    command: php artisan serve --host=0.0.0.0 --port=8000
    healthcheck:
      test: ["CMD-SHELL", "nc -z 127.0.0.1 8000 || exit 1"]
      interval: 5s
      timeout: 5s
      retries: 5
      start_period: 20s
  frontend:
    build:
      context: ./acteam-trains-frontend
      dockerfile: Dockerfile
    ports:
      - '80:80'
    networks:
      - app-network
    depends_on:
      backend:
        condition: service_healthy

networks:
  app-network:
    driver: bridge
