@import "tailwindcss";

@theme {
    --blue-shadow: 0px 0px 39px 10px rgba(116, 208, 241,0.20);
}

#root, html, body {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Inter', sans-serif;
}

body {
    padding: 20px;
}

@media (max-width: 1099px) {
    #clockDesktop {
        display: none;
    }

    #hoursDesktop {
        display: none;
    }

    #hoursAndClockMobile {
        display: flex;
    }
}

@media (min-width: 1100px) {
    #clockDesktop {
        display: flex;
    }

    #hoursDesktop {
        display: flex;
    }

    #hoursAndClockMobile {
        display: none;
    }
}

@media (max-width: 1449px) {
    #fromtoDesktop {
        display: none;
    }

    #fromtoMobile {
        display: flex;
    }

    #trainMobile {
        display: flex;
    }

    #trainDesktop {
        display: none;
    }
}

@media (min-width: 1450px) {
    #fromtoDesktop {
        display: flex;
    }

    #fromtoMobile {
        display: none;
    }

    #trainMobile {
        display: none;
    }

    #trainDesktop {
        display: flex;
    }
}